<a href="https://colab.research.google.com/github/AN-06/Air-Aware/blob/main/Week1InfosysTasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2 Tasks

In [ ]:
#string
s="Hello World"
s1="Hi"
print(s)
print(s[6:])
print(s[::-1])
print(s+" "+s1)
print(s*3)

Hello World
World
dlroW olleH
Hello World Hi
Hello WorldHello WorldHello World

In [ ]:
# Data types
age = 21
height = 5.9
pi = 3.14159
grade = 'A'
is_student = True
name = "Aleena"

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("PI value:", pi)
print("Grade:", grade)
print("Is Student:", is_student)

Name: Aleena
Age: 21
Height: 5.9
PI value: 3.14159
Grade: A
Is Student: True

In [ ]:
#Arithmetic Operators
a=10
b=5
c=7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15
5
50
2.0
0
2
100000

# Day 3 Tasks

In [ ]:
#Task 1-Inputs

name = input("Enter your name (str): ")
age = int(input("Enter your age (int): "))
height = float(input("Enter your height in cm (float): "))
is_student = to_bool(input("Are you a student? (y/n): "))
comp = complex(input("Enter a complex number (e.g., 3+4j): "))



# 1) Comma
print("\n[1] Comma:", name, age, height, is_student, comp)

# 2) Plus (+) concatenation
print("[2] Plus: " + "Name=" + name + ", Age=" + str(age) + ", Height=" + str(height))

# 3) Percent (%) formatting
print("[3] Percent: Name=%s | Age=%d | Height=%.1f | Student=%s | Complex=%s"
      % (name, age, height, is_student, comp))

# 4) str.format()
print("[4] format(): Name={} | Age={} | Height={} | Student={} | Complex={}"
      .format(name, age, height, is_student, comp))

# 5) f-string
print(f"[5] f-string: Name={name} | Age={age} | Height={height} | Student={is_student} | Complex={comp}")

Enter your name (str): Aleena
Enter your age (int): 21
Enter your height in cm (float): 162
Are you a student? (y/n): y
Enter a complex number (e.g., 3+4j): 5+8j

[1] Comma: Aleena 21 162.0 True (5+8j)
[2] Plus: Name=Aleena, Age=21, Height=162.0
[3] Percent: Name=Aleena | Age=21 | Height=162.0 | Student=True | Complex=(5+8j)
[4] format(): Name=Aleena | Age=21 | Height=162.0 | Student=True | Complex=(5+8j)
[5] f-string: Name=Aleena | Age=21 | Height=162.0 | Student=True | Complex=(5+8j)

In [ ]:
#Task 2 - List Operations

L = [3, 1, 2, 3]
print("Original List:", L)

# append
L1 = L.copy()
L1.append(9)
print("Append 9:", L1)

# extend
L2 = L.copy()
L2.extend([7, 8])
print("Extend [7,8]:", L2)

# insert
L3 = L.copy()
L3.insert(1, 99)
print("Insert 99 at index 1:", L3)

# remove (first occurrence)
L4 = L.copy()
L4.remove(3)
print("Remove first 3:", L4)

# pop (last element)
L5 = L.copy()
L5.pop()
print("Pop last element:", L5)

# reverse (in place)
L6 = L.copy()
L6.reverse()
print("Reverse:", L6)

# sorted (new list)
print("Sorted (new list):", sorted(L))

# sort (in place)
L7 = L.copy()
L7.sort(reverse=True)
print("Sort descending (in place):", L7)

# remove duplicates (preserve order)
L8 = L.copy()
unique = []
for x in L8:
    if x not in unique:
        unique.append(x)
print("Remove duplicates:", unique)

# slicing
print("Slice 1:4:", L[1:4])

Original List: [3, 1, 2, 3]
Append 9: [3, 1, 2, 3, 9]
Extend [7,8]: [3, 1, 2, 3, 7, 8]
Insert 99 at index 1: [3, 99, 1, 2, 3]
Remove first 3: [1, 2, 3]
Pop last element: [3, 1, 2]
Reverse: [3, 2, 1, 3]
Sorted (new list): [1, 2, 3, 3]
Sort descending (in place): [3, 3, 2, 1]
Remove duplicates: [3, 1, 2]
Slice 1:4: [1, 2, 3]

In [ ]:
#Task 3 - Dictionary

pairs = [("x", 10), ("y", 20)]
d = dict(pairs)
print("Create from pairs:", d)

# length
print("Length:", len(d))

# keys
print("Keys:", list(d.keys()))

# values
print("Values:", list(d.values()))

# items
print("Items:", list(d.items()))

# get
print("Get 'z' with default:", d.get("z", -1))

# setdefault
print("Setdefault 'z':", d.setdefault("z", 0))
print("After setdefault:", d)

# update
d.update({"y": 99, "new": 123})
print("After update:", d)

# pop (removes a key)
print("Pop 'x':", d.pop("x"))
print("After pop:", d)

# popitem (removes last inserted item)
print("Popitem:", d.popitem())
print("After popitem:", d)

# fromkeys
new_d = dict.fromkeys(["k1", "k2"], 5)
print("Fromkeys:", new_d)

# copy
copy_d = d.copy()
print("Copy of d:", copy_d)

# clear
d.clear()
print("After clear:", d)

Create from pairs: {'x': 10, 'y': 20}
Length: 2
Keys: ['x', 'y']
Values: [10, 20]
Items: [('x', 10), ('y', 20)]
Get 'z' with default: -1
Setdefault 'z': 0
After setdefault: {'x': 10, 'y': 20, 'z': 0}
After update: {'x': 10, 'y': 99, 'z': 0, 'new': 123}
Pop 'x': 10
After pop: {'y': 99, 'z': 0, 'new': 123}
Popitem: ('new', 123)
After popitem: {'y': 99, 'z': 0}
Fromkeys: {'k1': 5, 'k2': 5}
Copy of d: {'y': 99, 'z': 0}
After clear: {}

In [ ]:
#Task 4 - set modifications

S = {1, 2, 3}
print("Original Set:", S)

# add
S1 = S.copy()
S1.add(9)
print("After add(9):", S1)

# update
S2 = S.copy()
S2.update([3, 4, 5])
print("After update([3, 4, 5]):", S2)

# remove
S3 = S.copy()
S3.remove(2)
print("After remove(2):", S3)

# discard
S4 = S.copy()
S4.discard(10)
print("After discard(10):", S4)

# pop
S5 = S.copy()
popped = S5.pop()
print("After pop():", S5, "| Popped element:", popped)

# clear
S6 = S.copy()
S6.clear()
print("After clear():", S6)

Original Set: {1, 2, 3}
After add(9): {1, 2, 3, 9}
After update([3, 4, 5]): {1, 2, 3, 4, 5}
After remove(2): {1, 3}
After discard(10): {1, 2, 3}
After pop(): {2, 3} | Popped element: 1
After clear(): set()

In [ ]:
# Task 5- set operations

A = {1, 2, 3}
B = {3, 4, 5}
print("Set A:", A)
print("Set B:", B)

# union
print("Union:", A | B)

# intersection
print("Intersection:", A & B)

# difference
print("Difference A - B:", A - B)
print("Difference B - A:", B - A)

# symmetric difference
print("Symmetric Difference:", A ^ B)

# subset / superset
print("A is subset of B:", A <= B)
print("A is proper subset of B:", A < B)
print("A is superset of B:", A >= B)
print("A is proper superset of B:", A > B)

# disjoint
print("A and B are disjoint?:", A.isdisjoint(B))
print("A and {7,8} are disjoint?:", A.isdisjoint({7, 8}))

Set A: {1, 2, 3}
Set B: {3, 4, 5}
Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference A - B: {1, 2}
Difference B - A: {4, 5}
Symmetric Difference: {1, 2, 4, 5}
A is subset of B: False
A is proper subset of B: False
A is superset of B: False
A is proper superset of B: False
A and B are disjoint?: False
A and {7,8} are disjoint?: True

# Day 4 Tasks

In [ ]:
#task 1 - Write code for calculator with all 7 operators + - * / % // ** using if elif else
a = float(input("Enter first number: "))
op = input("Enter operator (+, -, *, /, %, //, **): ")
b = float(input("Enter second number: "))

if op == '+':
    print("Result:", a + b)
elif op == '-':
    print("Result:", a - b)
elif op == '*':
    print("Result:", a * b)
elif op == '/':
    print("Result:", a / b)
elif op == '%':
    print("Result:", a % b)
elif op == '//':
    print("Result:", a // b)
elif op == '**':
    print("Result:", a ** b)
else:
    print("Invalid operator")

Enter first number: 5
Enter operator (+, -, *, /, %, //, **): //
Enter second number: 2
Result: 2.0

In [ ]:
#task 2 - for loop using tuple , dictionary , set

# Tuple
t = ("apple", "banana", "cherry")
for item in t:
    print(item)

# Dictionary
d = {"name": "Aleena", "age": 21, "city": "Lucknow"}
for key in d:
    print(key, d[key])

# Set
s = {1, 2, 3, 2}
for val in s:
    print(val)

apple
banana
cherry
name Aleena
age 21
city Lucknow
1
2
3

In [ ]:
#task 3 - design calculator using structural pattern matching

a = float(input("Enter first number: "))
op = input("Enter operator (+, -, *, /, %, //, **): ")
b = float(input("Enter second number: "))

match op:
    case '+':
        print("Result:", a + b)
    case '-':
        print("Result:", a - b)
    case '*':
        print("Result:", a * b)
    case '/':
        print("Result:", a / b)
    case '%':
        print("Result:", a % b)
    case '//':
        print("Result:", a // b)
    case '**':
        print("Result:", a ** b)
    case _:
        print("Invalid operator")

Enter first number: 5
Enter operator (+, -, *, /, %, //, **): **
Enter second number: 2
Result: 25.0

In [ ]:
#task 4 - all file concept commands
# Write
f = open("demo.txt", "w")
f.write("Hello\n")
f.write("World\n")
f.close()

# Append
f = open("demo.txt", "a")
f.write("New line added\n")
f.close()

# Read whole file
f = open("demo.txt", "r")
print(f.read())
f.close()

# Read line by line
f = open("demo.txt", "r")
for line in f:
    print(line.strip())
f.close()

# Read lines into list
f = open("demo.txt", "r")
lines = f.readlines()
print(lines)
f.close()

Hello
World
New line added

Hello
World
New line added
['Hello\n', 'World\n', 'New line added\n']

# Day 5 Tasks

In [ ]:
#task 1- do fibonacci and factorial using recursive
# fibonacci
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

# factorial
def fact(n):
    if n == 0 or n == 1:
        return 1
    return n * fact(n-1)


n = int(input("Enter n: "))
print("fib(n):", fib(n))
print("fact(n):", fact(n))

Enter n: 8
fib(n): 21
fact(n): 40320

In [ ]:
#task 2- write example code for module OS, MATH, RANDOM
import os
import math
import random

# --- os module ---
print("CWD:", os.getcwd())
print("Files here:", os.listdir("."))

# --- math module ---
x = 5.7
print("sqrt(16):", math.sqrt(16))
print("floor(5.7):", math.floor(x))
print("ceil(5.7):", math.ceil(x))
print("pi:", math.pi)

# --- random module ---
print("randint 1..10:", random.randint(1, 10))
print("random():", random.random())
items = ["apple", "banana", "cherry"]
print("choice:", random.choice(items))
random.shuffle(items)
print("shuffled:", items)

CWD: /content
Files here: ['.config', 'sample_data']
sqrt(16): 4.0
floor(5.7): 5
ceil(5.7): 6
pi: 3.141592653589793
randint 1..10: 2
random(): 0.48011340441486383
choice: cherry
shuffled: ['cherry', 'apple', 'banana']

In [ ]:
#task 3- list, tuple & dictionary comprehensions
# List comprehension
nums = [1, 2, 3, 4, 5]
squares = [n*n for n in nums]
evens   = [n for n in nums if n % 2 == 0]
print("squares:", squares)
print("evens:", evens)

# Tuple comprehension
cubes_tuple = tuple(n**3 for n in nums)
print("cubes_tuple:", cubes_tuple)

# Dict comprehension
names = ["alice", "bob", "cara"]
name_len = {name: len(name) for name in names}
print("name_len:", name_len)

squares: [1, 4, 9, 16, 25]
evens: [2, 4]
cubes_tuple: (1, 8, 27, 64, 125)
name_len: {'alice': 5, 'bob': 3, 'cara': 4}

In [ ]:
#task 4 - runtime arguments args kwargs
# *args
def add_all(*args):
    total = 0
    for x in args:
        total += x
    return total

print("add_all:", add_all(1, 2, 3, 4))

# **kwargs
def greet(**kwargs):
    first = kwargs.get("first", "")
    last  = kwargs.get("last", "")
    city  = kwargs.get("city", "")
    print("Hello", first, last, "from", city)

greet(first="Aleena", last="K", city="Lko")

# mixing: normal, *args, **kwargs
def demo(a, b=0, *args, **kwargs):
    print("a:", a, "b:", b)
    print("args:", args)
    print("kwargs:", kwargs)

demo(10, 20, 30, 40, x=1, y=2)

add_all: 10
Hello Aleena K from Kochi
a: 10 b: 20
args: (30, 40)
kwargs: {'x': 1, 'y': 2}